<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Instant SMS Alert</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h4 class="message">Try out the SMS feature by entering in your phone number including country code. Example entry: 12223334444</h4>

      <form class="form" action="/number" method="POST">
        <label for="phoneNumber">Phone number</label>
        <input type="text" name="phoneNumber" placeholder="Enter your number..." />

        <button type="submit">Try now</button>
      </form>
    </div>

  </body>
</html>
